<% layout("/layouts/boilerplate") %> <%= success %>
<style>
    #filters{
        display: flex;
        align-items: center;
        overflow-x: auto;
        white-space: nowrap;
    }

    .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }
    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }

    .filter-container {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        margin-right: 1rem;
        scroll-behavior: smooth;
    }

    .filter-container::-webkit-scrollbar{
        width: 0;
    }

    .filter p {
        font-size: 0.8rem;
    }

    .filter a {
        color: black;
        text-decoration: none;
    }

    .filter a i {
        color: black;
    }

    .tax-info{
        display: none;
    }
    .tax-toggle{
        border: 1px  solid black;
        border-radius: 1rem;
        height: 3rem;
        padding: 1rem;
        margin-left: auto;
        display: flex;
        align-items: center;
    }
</style>
<body>
    <div id="filters">
        <div class="filter-container">
            <div class="filter">
                <a href="/listings">
                    <div><i class="fa-solid fa-list-ul"></i></div>
                    <p>All</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings?category=Rooms">
                    <div><i class="fa-solid fa-bed"></i></div>
                    <p>Rooms</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings?category=Iconic Cities">
                    <div><i class="fa-solid fa-city"></i></div>
                    <p>Iconic Cities</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings?category=Mountains">
                    <div><i class="fa-solid fa-mountain-city"></i></div>
                    <p>Mountains</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings?category=Castles">
                    <div><i class="fa-brands fa-fort-awesome"></i></div>
                    <p>Castles</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings?category=Pools">
                    <div><i class="fa-solid fa-person-swimming"></i></div>
                    <p>Pools</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings?category=Camping">
                    <div><i class="fa-solid fa-campground"></i></div>
                    <p>Camping</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings?category=Farms">
                    <div><i class="fa-solid fa-cow"></i></div>
                    <p>Farms</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings?category=Arctic">
                    <div><i class="fa-solid fa-snowflake"></i></div>
                    <p>Arctic</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings?category=Domes">
                    <div><i class="fa-solid fa-igloo"></i></div>
                    <p>Domes</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings?category=Boats">
                    <div><i class="fa-solid fa-ship"></i></div>
                    <p>Boats</p>
                </a>
            </div>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Include taxes</label>
              </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let listing  of allListings) { %>
            <a href="/listings/<%=listing._id%>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%=listing.image.url%>" class="card-img-top" alt="Listing_image" style="height: 20rem;">
                    <div class="card-img-overlay"> </div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %> </b><br>
                            <span class="original-price">&#8377; <%= listing.price.toLocaleString("en-IN") %> / night</span>
                            <span class="tax-info" style="display: none;">&#8377; <%= (listing.price * 1.18).toLocaleString("en-IN") %> / night</span>
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>
<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("change", function() {
        const originalPrices = document.querySelectorAll('.original-price');
        const taxInfos = document.querySelectorAll('.tax-info');
        if (this.checked) {
            originalPrices.forEach(price => price.style.display = 'none');
            taxInfos.forEach(tax => tax.style.display = 'inline');
        } else {
            originalPrices.forEach(price => price.style.display = 'inline');
            taxInfos.forEach(tax => tax.style.display = 'none');
        }
    });
    const filterContainer = document.querySelector('.filter-container');
    filterContainer.addEventListener('wheel', (event) => {
        if (event.deltaY !== 0) {
            event.preventDefault();
            filterContainer.scrollBy({
                left: event.deltaY,
                behavior: 'smooth'
            });
        }
    });
</script>